{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ news_item.title }}
{% endblock title %}


{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
    <div class="card mb-3">
      <div class="card-header">
        Категория: {{ news_item.category }}
      </div>
      <div class="card-body">
              {% if news_item.photo %}
                <img src="{{ news_item.photo.url }}" alt="" width="350" class="float-left mr-3">
              {% else %}
                <img src="{% static 'img/no_photo.png' %}" alt="" class="float-left mr-3">
              {% endif %}

                <h5 class="card-title">{{ news_item.title }}</h5>
                <p class="card-text">{{ news_item.content|safe|linebreaks}}</p>
      </div>

      <div class="card-footer text-muted">
       {{ news_item.created_at|date:'Y-m-d H:i:s' }}
      </div>
    </div>
{% endblock content %}




